header.header {
  .wrap {
    position: relative;
  }
  .header__logo {
    @include span(2);
    text-align: center;
  }
}

.header__logo {
  img {
    max-width: 75px;
    height: auto;
  }
}

.header-left {
  .menu {
    text-align: right;
    li {
      display: inline-block;
      margin-right: 25px;
    }
    a {
      color: #000;
      font: 16.6px $basefontfamily;
    }
  }
}

.header-right {
  .menu {
    text-align: left;
    li {
      display: inline-block;
      &:first-child {
        a {
          color: #DD9C27;
          border-right: 1px solid #000;
        }
      }
      &:last-child {
        a {
          color: #000;
        }
      }
    }
    a {
      text-transform: uppercase;
      display: block;
      font: 16.6px/20px "MadrasLight";
      height: 20px;
      padding-left: 13px;
      padding-right: 13px;
    }
  }
}

.header-left, .header-right {
  padding-top: 70px;
  @include span(5);
}

.header-right {
  position: relative;
}

.header-top {
  position: absolute;
  right: 0;
  top: 10px;
  @include display-flex;
}

#block-commerce-cart-cart {
  margin-left: 20px;
  padding-left: 34px;
  height: 34px;
  line-height: 34px;
  background: url("../images/cart.png") no-repeat left center;
  position: relative;
  z-index: 999;
  @include background-size(34px auto);
  .line-item-summary {
    margin: 0;
  }
  .line-item-total-label, .cart-empty-block {
    display: none;
  }
  .cart-contents {
    > a {
      color: #DD9C27;
      text-decoration: none;
    }
  }
  .line-item-total-raw {
    padding-left: 5px;
    @extend .price;
  }
}

#block-search-form {
  position: relative;
  .block__title {
    color: transparent;
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: url("../images/lupa.png") no-repeat center;
    @include background-size(90% auto);
  }
  form {
    display: none;
  }
}

#block-views-product-block {
  margin-top: 45px;
  .block__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;
  }
  .views-row {
    width: 32.1%;
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.view-mode-product {
  text-align: center;
  .img-wrapper {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    height: 300px;
  }
  .name-title {
    margin-top: 25px;
    margin-bottom: 5px;
    a {
      text-decoration: none;
      color: #000;
      font-size: 20px;
    }
  }
  .body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

.price {
  color: #DD9C27;
  font: 24.3px 'HelveticaNeueLTStd-Lt';
}

#main {
  h1 {
    font-size: 42.7px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.view-taxonomy-term {
  .views-row {
    width: 32.1%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
  }
}

#description-tabs {
  padding-top: 65px;
  margin-bottom: 25px;
  .horizontal-tabs {
    margin: 0;
    border: none;
  }
  .horizontal-tabs-list {
    text-align: center;
    background-color: transparent;
    border-right: none;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    .selected {
      strong {
        color: #DD9C27;
      }
    }
    strong {
      color: #000;
      text-transform: uppercase;
      font-size: 16.3px;
      &:hover {
        color: #DD9C27;
      }
    }
  }
  .horizontal-tab-button {
    background-color: transparent;
    border-right: none;
    display: inline-block;
    float: none;
    margin-left: 82px;
    margin-right: 82px;
    a {
      &:hover {
        background-color: transparent;
      }
    }
  }
  .horizontal-tabs-panes {
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
  }
}

.node-product {
  &.view-mode-full {
    .price {
      text-align: center;
    }
    .commerce-add-to-cart {
      > div {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
      [name="commerce-wishlist-add-product"], [type="submit"] {
        margin-left: 35px;
        margin-right: 35px;
        background: url("../images/plus.png") transparent no-repeat left center;
        @include background-size(19px auto);
        padding-left: 35px;
        font: 600 21.8px 'HelveticaNeueLTStd-Lt';
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        &:hover {
          color: #EB2830;
        }
      }
    }
    [name="commerce-wishlist-add-product"] {
      position: absolute;
      left: 0;
    }
    [value="Add to cart"] {
      position: absolute;
      right: 0;
    }
  }
}

.you-may-also-like {
  .label-above {
    text-align: center;
    font-size: 23px;
    padding: 15px 0;
    margin-bottom: 25px;
  }
}

.you-may-also-like-wrapping {
  @include display-flex;
  @include justify-content(center);
  > div {
    width: 32%;
  }
}

.form-item-attributes-field-color {
  text-align: center;
  margin-bottom: 60px;
  label {
    display: block;
    font-size: 23px;
    margin-bottom: 20px;
  }
  .form-radios {
    > div {
      display: inline-block;
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  .commerce-fancy-attributes-color {
    width: 30px;
    height: 30px;
  }
}

.commerce-product-field-field-image {
  text-align: center;
  img {
    display: inline-block;
    max-width: 320px;
    height: auto;
  }
}

#block-block-1 {
  margin-top: 20px;
  .content {
    background-color: #050000;
    color: #fff;
    @include border-top-left-radius(25px);
    @include border-top-right-radius(25px);
    text-align: center;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p {
    font-size: 14.6px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

