@font-face {
  font-family: "MadrasLight";
  src: url('../fonts/MadrasLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MadrasLight.woff') format('woff'),
  url('../fonts/MadrasLight.ttf') format('truetype'),
  url('../fonts/MadrasLight.svg#MadrasLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Lt.otf') format('opentype'),
  url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LiberationSerif-Regular';
  src: url('../fonts/LiberationSerif-Regular/LiberationSerif-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LiberationSerif-Regular/LiberationSerif-Regular.woff') format('woff'),
  url('../fonts/LiberationSerif-Regular/LiberationSerif-Regular.ttf') format('truetype'),
  url('../fonts/LiberationSerif-Regular/LiberationSerif-Regular.svg#LiberationSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}