* {
  padding: 0;
  margin: 0;
  @include box-sizing(border-box);
}

body {
  font-family: $basefontfamily;
}

.wrap {
  @include container;
}

.menu {
  list-style: none;
  a {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.block__title {
  font-size: 42.7px;
}

.visually-hidden, .breadcrumb__title, .element-invisible {
  display: none;
}

ul.tabs {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  li {
    display: inline-block;
    margin-right: 15px;
  }
  a {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 25px;
  }
}

.breadcrumb {
  margin-bottom: 15px;
}

#user-login {
  .description {
    padding-top: 5px;
  }
  label {
    display: block;
    padding-bottom: 5px;
  }
  .form-item {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

#search-block-form {
  position: absolute;
  top: 0;
  right: 50px;
  &.open {
    display: block;
  }
  [value="Search"] {
    display: none;
  }
  [name="search_block_form"] {
    border: 1px solid #000;
    width: 280px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    font-size: 16px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    font-size: 16px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
    font-size: 16px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
    font-size: 16px;
  }
}