@import "compass/css3";
@import "susy";

$susy: (
        container: 1200px,
        columns: 12,
        gutters: 0,
);

@import "font";
@import "variable";
@import "reset";
@import "base";
