@font-face {
  font-family: "MadrasLight";
  src: url("../fonts/MadrasLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MadrasLight.woff") format("woff"), url("../fonts/MadrasLight.ttf") format("truetype"), url("../fonts/MadrasLight.svg#MadrasLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Lt.otf") format("opentype"), url("../fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LiberationSerif-Regular';
  src: url("../fonts/LiberationSerif-Regular/LiberationSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LiberationSerif-Regular/LiberationSerif-Regular.woff") format("woff"), url("../fonts/LiberationSerif-Regular/LiberationSerif-Regular.ttf") format("truetype"), url("../fonts/LiberationSerif-Regular/LiberationSerif-Regular.svg#LiberationSerif-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/_reset.scss */
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/_reset.scss */
body {
  font-family: "MadrasLight";
}

/* line 11, ../scss/_reset.scss */
.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 15, ../scss/_reset.scss */
.menu {
  list-style: none;
}
/* line 17, ../scss/_reset.scss */
.menu a {
  text-decoration: none;
}

/* line 22, ../scss/_reset.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/* line 26, ../scss/_reset.scss */
.block__title {
  font-size: 42.7px;
}

/* line 30, ../scss/_reset.scss */
.visually-hidden, .breadcrumb__title, .element-invisible {
  display: none;
}

/* line 34, ../scss/_reset.scss */
ul.tabs {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 38, ../scss/_reset.scss */
ul.tabs li {
  display: inline-block;
  margin-right: 15px;
}
/* line 42, ../scss/_reset.scss */
ul.tabs a {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px 25px;
}

/* line 52, ../scss/_reset.scss */
.breadcrumb {
  margin-bottom: 15px;
}

/* line 57, ../scss/_reset.scss */
#user-login .description {
  padding-top: 5px;
}
/* line 60, ../scss/_reset.scss */
#user-login label {
  display: block;
  padding-bottom: 5px;
}
/* line 64, ../scss/_reset.scss */
#user-login .form-item {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 70, ../scss/_reset.scss */
#search-block-form {
  position: absolute;
  top: 0;
  right: 50px;
}
/* line 74, ../scss/_reset.scss */
#search-block-form.open {
  display: block;
}
/* line 77, ../scss/_reset.scss */
#search-block-form [value="Search"] {
  display: none;
}
/* line 80, ../scss/_reset.scss */
#search-block-form [name="search_block_form"] {
  border: 1px solid #000;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
}
/* line 87, ../scss/_reset.scss */
#search-block-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
  font-size: 16px;
}
/* line 91, ../scss/_reset.scss */
#search-block-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  font-size: 16px;
}
/* line 95, ../scss/_reset.scss */
#search-block-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
  font-size: 16px;
}
/* line 99, ../scss/_reset.scss */
#search-block-form :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  font-size: 16px;
}

/* line 2, ../scss/_base.scss */
header.header .wrap {
  position: relative;
}
/* line 5, ../scss/_base.scss */
header.header .header__logo {
  width: 16.66667%;
  float: left;
  text-align: center;
}

/* line 12, ../scss/_base.scss */
.header__logo img {
  max-width: 75px;
  height: auto;
}

/* line 19, ../scss/_base.scss */
.header-left .menu {
  text-align: right;
}
/* line 21, ../scss/_base.scss */
.header-left .menu li {
  display: inline-block;
  margin-right: 25px;
}
/* line 25, ../scss/_base.scss */
.header-left .menu a {
  color: #000;
  font: 16.6px "MadrasLight";
}

/* line 33, ../scss/_base.scss */
.header-right .menu {
  text-align: left;
}
/* line 35, ../scss/_base.scss */
.header-right .menu li {
  display: inline-block;
}
/* line 38, ../scss/_base.scss */
.header-right .menu li:first-child a {
  color: #DD9C27;
  border-right: 1px solid #000;
}
/* line 44, ../scss/_base.scss */
.header-right .menu li:last-child a {
  color: #000;
}
/* line 49, ../scss/_base.scss */
.header-right .menu a {
  text-transform: uppercase;
  display: block;
  font: 16.6px/20px "MadrasLight";
  height: 20px;
  padding-left: 13px;
  padding-right: 13px;
}

/* line 60, ../scss/_base.scss */
.header-left, .header-right {
  padding-top: 70px;
  width: 41.66667%;
  float: left;
}

/* line 65, ../scss/_base.scss */
.header-right {
  position: relative;
}

/* line 69, ../scss/_base.scss */
.header-top {
  position: absolute;
  right: 0;
  top: 10px;
  display: -webkit-flex;
  display: flex;
}

/* line 76, ../scss/_base.scss */
#block-commerce-cart-cart {
  margin-left: 20px;
  padding-left: 34px;
  height: 34px;
  line-height: 34px;
  background: url("../images/cart.png") no-repeat left center;
  position: relative;
  z-index: 999;
  -moz-background-size: 34px auto;
  -o-background-size: 34px auto;
  -webkit-background-size: 34px auto;
  background-size: 34px auto;
}
/* line 85, ../scss/_base.scss */
#block-commerce-cart-cart .line-item-summary {
  margin: 0;
}
/* line 88, ../scss/_base.scss */
#block-commerce-cart-cart .line-item-total-label, #block-commerce-cart-cart .cart-empty-block {
  display: none;
}
/* line 92, ../scss/_base.scss */
#block-commerce-cart-cart .cart-contents > a {
  color: #DD9C27;
  text-decoration: none;
}
/* line 97, ../scss/_base.scss */
#block-commerce-cart-cart .line-item-total-raw {
  padding-left: 5px;
}

/* line 103, ../scss/_base.scss */
#block-search-form {
  position: relative;
}
/* line 105, ../scss/_base.scss */
#block-search-form .block__title {
  color: transparent;
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: url("../images/lupa.png") no-repeat center;
  -moz-background-size: 90% auto;
  -o-background-size: 90% auto;
  -webkit-background-size: 90% auto;
  background-size: 90% auto;
}
/* line 113, ../scss/_base.scss */
#block-search-form form {
  display: none;
}

/* line 118, ../scss/_base.scss */
#block-views-product-block {
  margin-top: 45px;
}
/* line 120, ../scss/_base.scss */
#block-views-product-block .block__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}
/* line 125, ../scss/_base.scss */
#block-views-product-block .views-row {
  width: 32.1%;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-bottom: 35px;
}

/* line 134, ../scss/_base.scss */
.view-mode-product {
  text-align: center;
}
/* line 136, ../scss/_base.scss */
.view-mode-product .img-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 300px;
}
/* line 142, ../scss/_base.scss */
.view-mode-product .name-title {
  margin-top: 25px;
  margin-bottom: 5px;
}
/* line 145, ../scss/_base.scss */
.view-mode-product .name-title a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
/* line 151, ../scss/_base.scss */
.view-mode-product .body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

/* line 159, ../scss/_base.scss */
.price, #block-commerce-cart-cart .line-item-total-raw {
  color: #DD9C27;
  font: 24.3px 'HelveticaNeueLTStd-Lt';
}

/* line 165, ../scss/_base.scss */
#main h1 {
  font-size: 42.7px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 75px;
  margin-bottom: 75px;
}

/* line 175, ../scss/_base.scss */
.view-taxonomy-term .views-row {
  width: 32.1%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}

/* line 183, ../scss/_base.scss */
#description-tabs {
  padding-top: 65px;
  margin-bottom: 25px;
}
/* line 186, ../scss/_base.scss */
#description-tabs .horizontal-tabs {
  margin: 0;
  border: none;
}
/* line 190, ../scss/_base.scss */
#description-tabs .horizontal-tabs-list {
  text-align: center;
  background-color: transparent;
  border-right: none;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}
/* line 197, ../scss/_base.scss */
#description-tabs .horizontal-tabs-list .selected strong {
  color: #DD9C27;
}
/* line 201, ../scss/_base.scss */
#description-tabs .horizontal-tabs-list strong {
  color: #000;
  text-transform: uppercase;
  font-size: 16.3px;
}
/* line 205, ../scss/_base.scss */
#description-tabs .horizontal-tabs-list strong:hover {
  color: #DD9C27;
}
/* line 210, ../scss/_base.scss */
#description-tabs .horizontal-tab-button {
  background-color: transparent;
  border-right: none;
  display: inline-block;
  float: none;
  margin-left: 82px;
  margin-right: 82px;
}
/* line 218, ../scss/_base.scss */
#description-tabs .horizontal-tab-button a:hover {
  background-color: transparent;
}
/* line 223, ../scss/_base.scss */
#description-tabs .horizontal-tabs-panes {
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}

/* line 231, ../scss/_base.scss */
.node-product.view-mode-full .price, .node-product.view-mode-full #block-commerce-cart-cart .line-item-total-raw, #block-commerce-cart-cart .node-product.view-mode-full .line-item-total-raw {
  text-align: center;
}
/* line 235, ../scss/_base.scss */
.node-product.view-mode-full .commerce-add-to-cart > div {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 241, ../scss/_base.scss */
.node-product.view-mode-full .commerce-add-to-cart [name="commerce-wishlist-add-product"], .node-product.view-mode-full .commerce-add-to-cart [type="submit"] {
  margin-left: 35px;
  margin-right: 35px;
  background: url("../images/plus.png") transparent no-repeat left center;
  -moz-background-size: 19px auto;
  -o-background-size: 19px auto;
  -webkit-background-size: 19px auto;
  background-size: 19px auto;
  padding-left: 35px;
  font: 600 21.8px 'HelveticaNeueLTStd-Lt';
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
/* line 251, ../scss/_base.scss */
.node-product.view-mode-full .commerce-add-to-cart [name="commerce-wishlist-add-product"]:hover, .node-product.view-mode-full .commerce-add-to-cart [type="submit"]:hover {
  color: #EB2830;
}
/* line 256, ../scss/_base.scss */
.node-product.view-mode-full [name="commerce-wishlist-add-product"] {
  position: absolute;
  left: 0;
}
/* line 260, ../scss/_base.scss */
.node-product.view-mode-full [value="Add to cart"] {
  position: absolute;
  right: 0;
}

/* line 268, ../scss/_base.scss */
.you-may-also-like .label-above {
  text-align: center;
  font-size: 23px;
  padding: 15px 0;
  margin-bottom: 25px;
}

/* line 276, ../scss/_base.scss */
.you-may-also-like-wrapping {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 279, ../scss/_base.scss */
.you-may-also-like-wrapping > div {
  width: 32%;
}

/* line 284, ../scss/_base.scss */
.form-item-attributes-field-color {
  text-align: center;
  margin-bottom: 60px;
}
/* line 287, ../scss/_base.scss */
.form-item-attributes-field-color label {
  display: block;
  font-size: 23px;
  margin-bottom: 20px;
}
/* line 293, ../scss/_base.scss */
.form-item-attributes-field-color .form-radios > div {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
}
/* line 299, ../scss/_base.scss */
.form-item-attributes-field-color .commerce-fancy-attributes-color {
  width: 30px;
  height: 30px;
}

/* line 305, ../scss/_base.scss */
.commerce-product-field-field-image {
  text-align: center;
}
/* line 307, ../scss/_base.scss */
.commerce-product-field-field-image img {
  display: inline-block;
  max-width: 320px;
  height: auto;
}

/* line 314, ../scss/_base.scss */
#block-block-1 {
  margin-top: 20px;
}
/* line 316, ../scss/_base.scss */
#block-block-1 .content {
  background-color: #050000;
  color: #fff;
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 328, ../scss/_base.scss */
#block-block-1 p {
  font-size: 14.6px;
}
/* line 330, ../scss/_base.scss */
#block-block-1 p a {
  text-decoration: none;
  color: #fff;
}
