
@font-face {
  font-family: 'LiberationSerif-Regular';
  src: url('LiberationSerif-Regular.eot?#iefix') format('embedded-opentype'),  url('LiberationSerif-Regular.woff') format('woff'), url('LiberationSerif-Regular.ttf')  format('truetype'), url('LiberationSerif-Regular.svg#LiberationSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
